header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px;
    transition: 0.3s;
}
.header-div1{
    display: flex;
    gap: 50px;
    align-items: center;
}
.header-img{
    width: 111px;
    height: 44px;
}
.header-div2{
    gap: 40px;
    display: flex;
    color: blue;
}
.header-div3{
display: flex;
align-items: center;
}
header.light{
    background-color: white;
    color: black;
}
header.dark{
    background-color: black;
    color: white;
}